/* General styles for the Projects section */
.projects {
  width: 100%;
  padding: 50px 20px;

  color: #f0f0f0;
  font-family: "Arial", sans-serif;
  text-align: center;

  margin: 20px auto;
  max-width: 800px;
}
